<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/collection-item.css">
    <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi" rel="stylesheet">
  </head>
  <body>
    <section class="columns-header">
      <span class="collections-title">
          <h1 id="text">Edit Collections</h1> 
          <div class="box">
              <span></span>
              <span></span>
              <span></span>
          </div>         
      </span>
    </section> 
    <div class="wrapper">
      <% for(let i = 0; i < collection.length; i++) { %>
        <div class="product-img">
          <img src="<%=collection.img%>" height="420" width="327">
        </div>
        <div class="product-info">
          <div class="product-text">
            <form action="/collections/<%=collection._id%>?_method=PUT" method="POST">
              <label for="name">Name:</label>
              <input type="text" name= "name" value="<%=collection[i].name%>">
              <br>
              <label for="category">Category:</label>
              <input type="text" name= "category" value="<%=collection[i].category%>">
              <br>
              <label for="description">Description:</label>
              <input type="text" name= "description"  value="<%=collection[i].description%>">
              <br>
              <label for="img">Image</label>
              <input type="text" name= "img" value="<%=collection[i].img%>">
              <br>
              <button type="submit">Submit</button>
            </form> 
            <hr>
            <form action="/collections/<%= collection[i]._id%>?_method=DELETE" method="POST">
              <button type="submit">Delete <%=collection[i].name%>?</button>
            </form>
          </div>
        </div>
      <% } %>
    </div>

  
    <!-- Bootstrap Javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>